<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to peeper</title>
</head>
<body>
	<form name="input" action="search" method="get">
		<input type="search" placeholder="Search" name="phrase">
		<input type="submit" value="Search">
	</form>
	
	<table id="resultsTable" border="1">
	<% if(data.results && data.results.length > 0) { 
		var results = data.results;	%>
		
		<%	for(var i=0; i<results.length; i++) { %>
			<tr>
				<td> <%= results[i].obj.text %> </td>
			</tr>
		<% } %>
		
	<% } %>
	</table>
	<% if(trackList) { %>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			io = io.connect();
			io.emit('track', {trackList: <%- trackList %>});
			io.on('update', function(data) {
				var results = data.results;
				for(var i=0; i<results.length; i++) {
					var table = document.getElementById('resultsTable');
					var cell = table.insertRow(0).insertCell(0);
					cell.innerHTML = results[i].obj.text;
				}
			});
	<% } %>
	</script>
</body>
</html>